# Ignore Python package files
pip-selfcheck.json
*.pyc
__pycache__/
*.pyo
*.pyd
*.env
*.venv311
env/
venv311/
ENV/
env.bak/
venv.bak/

# Ignore npm files
node_modules/
npm-debug.log*
package-lock.json
yarn.lock